<tbody>
  <tr class="candidates-list">
    <td class="title">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        />
      </div>
      <div class="thumb">
        <img
          class="img-fluid"
          src="https://bootdey.com/img/Content/avatar/avatar7.png"
          alt=""
        />
      </div>
      <div class="candidate-list-details">
        <div class="candidate-list-info">
          <div class="candidate-list-title">
            <h5 class="mb-0"><a href="#">{{listes['name']}}</a></h5>
          </div>
          <div class="candidate-list-option">
            <ul class="list-unstyled">
              <li><i class="fas fa-filter pr-1"></i>Information Technology</li>
              <li>
                <i class="fas fa-map-marker-alt pr-1"></i>Rolling Meadows, IL
                60008
              </li>
            </ul>
          </div>
        </div>
      </div>
    </td>
  </tr>
</tbody>
