

<div class="container">
  <div class="row">
    <div class="d-flex">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input (keyup.enter)="getFilteredUsers()" 
        class="col-lg-7" 
        id="search-input" 
        type="text"  
        name="users" 
        [(ngModel)]="filterString"
        placeholder="Search by name"/>
      </div>
      <button class="btn" type="submit">
        <img src="./assets/icon.png" width="30" height="30"/>
      </button>
    </div>
    <input type="text" class="form-control" placeholder="" disabled/>
    <div class="container mt-3 mb-4">
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
          <div class="col-md-12">
            <div
              class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm"
            >
              <table class="table manage-candidates-top mb-0">
                <thead>
                  <tr>
                    <th>Candidate Name</th>
                  </tr>
                </thead>
                  <app-list-user *ngFor="let list of listes; let i = index" [listes]="list" class="d-flex"></app-list-user>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>